.commercial-container{
    margin:5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow:2px 2px 3px 3px #777;
    background-color: #98deff;
}

.commercial-container>h3{
    /*background-color: #113344;*/
    color: #112233;
}
.commercial-container>p{
    color: #000;
}