.post-page {
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px 2x x#AAA;
    background-color: bisque;
    color: #000;
}

.created-by {
    display: flex;
    justify-content: flex-start;
}

.created-by>* {
    margin: 5px;
}

.link {
    color: #646cff;
}
.actions>span{
    cursor: pointer;
}
.post-page > .actions{
    display:flex;
    gap:0.5rem;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}
.post-page img{
    width:50vw;
    max-height: 45vh;
    border-radius: 5px;
}