.post-view {
    margin: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px 2x x#AAA;
    background-color:  #B4D4FF;               
    border-radius: 5px;
}

.created-by {
    display: flex;
    justify-content: flex-start;
}

.created-by>* {
    margin: 5px;
}

.link {
    color: #646cff;
}
.post-view > .actions{
    display:flex;
    justify-content: space-around;
    width: 30%;
}

.post-view img{
    width:50vw;
    max-height: 45vh;
    border-radius: 5px;
}